# Database Configuration
DB_HOST=localhost
DB_NAME=eduschedule_db
DB_USER=eduschedule_user
DB_PASS=votre_mot_de_passe

# Security
JWT_SECRET=super_secret_key_eduschedule_pro_2026_safe_and_long_enough
JWT_EXPIRATION=3600

# App
APP_DEBUG=true
APP_TIMEZONE=Europe/Paris
